<h2>INCIDENT REPORT</h2>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Category</th>
      <th>Requestor</th>
      <th>Location</th>
      <th>Status</th>
      <th>Handling Officer</th>
      <th>DateTime</th>
      <th>Reference</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
